<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume form</title>
</head>
<body>
<h1 style="padding: 3px 100px"> please fill the form below to create your resume. and see your resume b</h1>

<form style="padding: 3px 100px" method="post">
    {% csrf_token %}
    <h3> your basic info</h3>
    <label style="font-size: 25px">name</label><br>
    <input type="text" name="name" placeholder="your name" style="height: 35px; width: 900px"><br>
    <label style="font-size: 25px">email</label><br>
    <input type="text" name="email" placeholder="your email" style="height: 35px; width: 900px"><br>
    <label style="font-size: 25px">date of birth:</label><br>
    <input type="text" name="dob" placeholder="dd/mm/yyyy" style="height: 35px; width: 900px"><br>
    <label style="font-size: 25px">phone:</label><br>
    <input type="text" name="phone" placeholder="your phone" style="height: 35px; width: 900px"><br>
    <label style="font-size: 25px">brief description:</label><br>
    <textarea name="description" style="height: 35px; width: 900px"></textarea><br>
    <h3> current job</h3>
    <label style="font-size: 25px">current job:</label><br>
    <input type="text" name="job" placeholder="your current job" style="height: 35px; width: 900px"><br>
    <h3> qualification</h3>
    <label style="font-size: 25px">highiest degree:</label><br>
    <input type="text" name="degree" placeholder="your highiest degree" style="height: 35px; width: 900px"><br>
    <label style="font-size: 25px">date of highiest degree:</label><br>
    <input type="text" name="dod" placeholder="format dd/mm/yyyy" style="height: 35px; width: 900px"><br>
    <h3> experience </h3>
    <label style="font-size: 25px">experience:</label><br>
    <input type="text" name="job_experience" placeholder="your experience" style="height: 35px; width: 900px"><br>
    <label style="font-size: 25px">years of experience:</label><br>
    <input type="text" name="YoE" placeholder="you years of job experience" style="height: 35px; width: 900px"><br>
    <label style="font-size: 25px"> job description</label><br>
    <textarea name="jd"style="height: 35px; width: 900px"></textarea><br>
    <input type="submit" placeholder="submit"><br>
</form>


{% for record in records %}
<div style="background-color: slategray">
<div style="padding: 3px 4px 3px 1500px; backgroud-color:gray">
    <h2> address </h2>
    <h3> {{record.name}}</h3>
    <h3>{{ record.email}}</h3>
    <h3>{{record.phone}}</h3>
    <h3> {{record.date_of_birth}}</h3>
</div>
<hr>


<div style="padding: 3px 700px 3px 100px">
    <h3>About me</h3>
    <p>{{record.description}}</p>
<div>
    <h2> Current Job</h2>
    <p>{{record.job}}</p>
    <h2> Highiest degree</h2>
    <h3> obtained in {{record.dod}} </h3>
    <h2> experience </h2>
    <p>{{record.experience}}</p>
    <h3> job title</h3>
    <p2> {{record.job}}</p2>
    <h3> years of experience </h3>
    <p>{{record.YoE}}</p>
    <h3> job description </h3>
    <p>{{record.job_desc}}</p>
    <h3> references </h3>
    <br>
    <h3>links</h3>
</div>
</div>
    </div>
{% endfor %}
</body>
</html>